@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Raleway", sans-serif;
    background-color: #1d2630;
    margin: 0;
    padding: 0;
}
/* Início Menu */
a {
    text-decoration: none;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem 3rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(233, 219, 219, 0.3);
    border-bottom: 0.1rem solid #a5a1a1;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.logo-img {
    font-size: 5rem;
}
.logo-img a img {
    max-width: 15rem;
    height: auto;
    padding-top: 2rem;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1.8rem;
    color: #a5a1a1;
    position: relative;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}
/* Final Menu */

.container {
    max-width: 500px;
    margin: 120px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 2);
    text-align: center;
}

h1 {
    color: #a5a1a1;
    font-size: 30px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    bottom: none;
    font-size: 16px;
    border-radius: 1px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #a5a1a1;
}

input[type="text"]:focus {
    border-color: #0056b3;
    background-color: #ddd;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #a5a1a1;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-button {
    background-color: #ff5050;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #ff0000;
}

.edit-button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #ff9800;
}
